.bookmark-toast {
  $close-button-size: 36px;

  @include flexbox(between);
  position: fixed;
  bottom: 20px;
  left: 50%;
  z-index: $bookmark-toast-level;
  width: 95%;
  height: 56px;
  max-width: 500px;
  padding-right: 8px;
  padding-left: $close-button-size;
  background-color: $background-dark;
  border-radius: 4px;
  transform: translateX(-50%) translate3d(0, 76px, 0);
  box-shadow: $popup-reversed-shadow;
  transition: transform 300ms ease-in-out;

  &.is-active {
    display: flex;
    transform: translate3d(-50%, 0, 0);
  }

  .bookmark-title {
    @include text-style(13, $white);
    font-weight: 400;
  }

  .close-button {
    @include pos-center-y;
    @include inline-flexbox;
    left: 0;
    width: $close-button-size;
    height: $close-button-size;
    font-size: 20px;
    color: $tertiary;

    &:active {
      color: $secondary;
    }
  }

  .button-group {
    @include flexbox(end);

    a,
    button {
      color: $blue;
    }

    .btn-32 {
      @include text-style(13);
    }

    a {
      margin-right: 4px;
    }
  }

  @include responsive(D) {
    @include pos-center-x(fixed);
    bottom: 40px;
    display: none;
    height: 80px;
    max-width: 480px;
    padding-right: 20px;
    padding-left: 56px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: $popup-shadow;

    .bookmark-title {
      @include text-style(16);
    }

    .close-button {
      left: (56px - $close-button-size) / 2;
      font-size: 24px;

      &:hover {
        color: $secondary;
      }
    }

    .button-group {
      .btn-32 {
        @include text-style(14);
      }

      a {
        margin-right: 8px;
      }
    }
  }
}
