$black: #000;
$dark: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7;
$background: #f7f8fa;
$background-dark: #2f3438;
$white: #fff;

$drawer-background: #f7f9fa;

// $blue: #3da5f5;
$blue: #35c5f0;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

// $red: #f86d7d;
$red: #ff7777;
$green: #22c58b;
